@font-face {
  font-family: "Open Sans";
  src: url(file:///D:/weather/fonts/OpenSans.ttf');
}
@font-face {
  font-family: Exo;
  src: url("file:///D:/weather/fonts/Exo.otf");
}
* {
  box-sizing: border-box;
}

body {
  width: 100%;
}
.slider {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 1fr;
}
button {
  align-self: center;
  justify-self: center;
  background: lightblue;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

button:disabled {
  opacity: 0.3;
}

.button-icon {
  width: 100%;
}
.left {
  grid-column: 1 / 2;
}
.right {
  grid-column: 3 / 4;
}
.days {
  grid-column: 2 / 3;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  overflow: scroll;
  background: #6f9dbe;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#adc7db),
    to(#6f9dbe)
  );
  background: -moz-linear-gradient(top, #b2bcc8, #adc7db);
}
.days::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.day {
  flex-shrink: 0;
  width: calc(100% / 3);
  height: 100%;
  border: 1px solid white;
  background: #8cc7df;
  color: #fff;
  padding: 1px;
  display: block;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.weather--h2 {
  font-family: "Open Sans", sans-serif;
  margin: 2px 0 0;
  color: rgb(67, 89, 134);
  text-shadow: rgba(250, 250, 250, 0.6) 2px 2px 0;
  font-size: 170%;
}
.weather--p {
  text-align: center;
  font-size: 120%;
  margin: 10px 0 10px;
  font-family: Exo, sans-serif;
}
.weather--temperature {
  text-align: center;
  font-size: 140%;
  margin: 8px 0 0;
  color: rgb(47, 77, 138);
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.weather__image {
  background-repeat: no-repeat;

  width: 50%;
}
